@model MySales.Models.SubActivity

<option value="">---Select Sub Activity---</option>
@if (ViewBag.list != null)
{
    foreach(var item in ViewBag.list)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
