@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pepsi A & M </h1>
    <p class="lead">
        @{
            ViewBag.Title = "Home";
        }

       
       
    </p>
    <p><a href="https://tblpss.com.bd" class="btn btn-primary btn-lg">TBL PSS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>About Transcom Beverage</h2>
        <p>
            Transcom Beverage Limited
            Transcom Beverage Ltd (TBL) is the exclusive PepsiCo Franchisee for Bangladesh. 
            TBL owns and operates modern plants in Dhaka and Chittagong for bottling the renowned soft drink brands such as, Pepsi, 7UP, Mirinda, Slice, Mountain Dew, Pepsi Diet and 7UP Light. 
            The company is emerging with the motto to deliver sustained growth in Bangladesh and move towards dominant Beverage Company, delighting & nourishing every Bangladeshi,
            by best meeting their everyday beverages needs & stakeholders by delivering performance with purpose, through talented people. 2009 has been an amazing year for TBL,
            winning several spectacular awards as PepsiCo's exclusive bottling partner in Bangladesh.
            For its' extraordinary and outstanding venture through excellence TBL has been rewarded with several prestigious national and international recognitions
        </p>
        <p><a class="btn btn-default" href="https://www.transcombd.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Concerns</h2>
        <p>Transcom Food</p>
        <p>Transcom Digital</p>
        <p>Transcom SK+F</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
</div>
