@model MyCascade.Models.SubActivity

<option value="">--Select Subactivity--</option>
@if (ViewBag.list != null)
{
    foreach (var item in ViewBag.list)
    {
        <option value="@item.Value">@item.Text</option>
    }
}


